Assignment08/GAWebHost/Connected Services/GAWebServant/Worker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Worker" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51979/Worker.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51979/Worker.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51979/Worker.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorker_MInitialize_InputMessage">
    <wsdl:part name="parameters" element="tns:MInitialize" />
  </wsdl:message>
  <wsdl:message name="IWorker_MInitialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:MInitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IWorker_MRun_InputMessage">
    <wsdl:part name="parameters" element="tns:MRun" />
  </wsdl:message>
  <wsdl:message name="IWorker_MRun_OutputMessage">
    <wsdl:part name="parameters" element="tns:MRunResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorker">
    <wsdl:operation name="MInitialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorker/MInitialize" message="tns:IWorker_MInitialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorker/MInitializeResponse" message="tns:IWorker_MInitialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MRun">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorker/MRun" message="tns:IWorker_MRun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorker/MRunResponse" message="tns:IWorker_MRun_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorker" type="tns:IWorker">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MInitialize">
      <soap:operation soapAction="http://tempuri.org/IWorker/MInitialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MRun">
      <soap:operation soapAction="http://tempuri.org/IWorker/MRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Worker">
    <wsdl:port name="BasicHttpBinding_IWorker" binding="tns:BasicHttpBinding_IWorker">
      <soap:address location="http://localhost:51979/Worker.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>