Assignment08/GAWebHost/Connected Services/GAWebServant/Worker2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51979/Worker.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="MInitialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aiSizePop" type="xs:int" />
        <xs:element minOccurs="0" name="aiNumCities" type="xs:int" />
        <xs:element minOccurs="0" name="afRateMutate" type="xs:float" />
        <xs:element minOccurs="0" name="afRateCross" type="xs:float" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aiDistMat" nillable="true" type="q1:ArrayOfArrayOfint" />
        <xs:element minOccurs="0" name="aiWorkerNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MInitializeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MRun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aiIterations" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MRunResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>