Assignment06/SecondWCFClient/Connected Services/MM2/MyMath22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecondWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecondWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64098/MyMath2.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Matrix">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cols" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfArrayOfdouble" />
      <xs:element minOccurs="0" name="Rows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matrix" nillable="true" type="tns:Matrix" />
</xs:schema>