Assignment06/FirstWCFClient/Connected Services/FRWCF/MyMath.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyMath" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8700/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8700/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyMath_ComputeAvg_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeAvg" />
  </wsdl:message>
  <wsdl:message name="IMyMath_ComputeAvg_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeAvgResponse" />
  </wsdl:message>
  <wsdl:message name="IMyMath_FindMin_InputMessage">
    <wsdl:part name="parameters" element="tns:FindMin" />
  </wsdl:message>
  <wsdl:message name="IMyMath_FindMin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindMinResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyMath">
    <wsdl:operation name="ComputeAvg">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyMath/ComputeAvg" message="tns:IMyMath_ComputeAvg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyMath/ComputeAvgResponse" message="tns:IMyMath_ComputeAvg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindMin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyMath/FindMin" message="tns:IMyMath_FindMin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyMath/FindMinResponse" message="tns:IMyMath_FindMin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MMEP" type="tns:IMyMath">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ComputeAvg">
      <soap:operation soapAction="http://tempuri.org/IMyMath/ComputeAvg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindMin">
      <soap:operation soapAction="http://tempuri.org/IMyMath/FindMin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyMath">
    <wsdl:port name="MMEP" binding="tns:MMEP">
      <soap:address location="http://localhost:8700/MM" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>