Assignment08/TSGAMT2010/Connected Services/GA/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7060/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:7060/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GASvcLib" />
  <xs:element name="MExecute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aiDistMat" nillable="true" type="q1:ArrayOfArrayOfint" />
        <xs:element minOccurs="0" name="aiNumThreads" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MUpdateResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GASvcLib" minOccurs="0" name="aoRes" nillable="true" type="q2:GAMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>