Assignment08/GAWebClient/Connected Services/Host/Distributor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51563/Distributor.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:51563/Distributor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GAWebLib" />
  <xs:element name="MExecute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="adDistMat" nillable="true" type="q1:ArrayOfArrayOfdouble" />
        <xs:element minOccurs="0" name="aiNumWorkers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MOnUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GAWebLib" minOccurs="0" name="aoMembers" nillable="true" type="q2:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MOnComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GAWebLib" minOccurs="0" name="aoMember" nillable="true" type="q3:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>