Assignment08/GAWebHost/Connected Services/Servant/Worker.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51979/Worker.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GAWebLib" />
  <xs:element name="MRun">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GAWebLib" minOccurs="0" name="aoWorker" nillable="true" type="q1:Worker" />
        <xs:element minOccurs="0" name="aiIterations" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MRunResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MOnComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GAWebLib" minOccurs="0" name="aoWorker" nillable="true" type="q2:Worker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>